.project-section
  box-shadow: $shadow2
  margin-bottom: 2rem
  img
    width: 100%
  h3
    padding: 0px 8px
    margin: 8px 0px
    font-weight: 300
  p
    padding: 0px 8px 16px 8px
    margin-top: 0
