$img-path: '../img/'
$font-name1: 'Merriweather'
$font-name2: 'jaapokki'
$nav-height: 64px

$color-300: #7986CB
$color-500: #3F51B5
$color-700: #303F9F

$color-A200: #FF4081
$color-A400: #F50057

$color-green-600: #43A047
$color-green-700: #388E3C

$color-red-500: #F44336
$color-red-700: #D32F2F

/* Text Color
$light-text: rgba(0,0,0,.87)
$light-secondary: rgba(0,0,0,.54)
$light-disabled: rgba(0,0,0,.38)
$light-divider: rgba(0,0,0,.12)

$dark-text: rgba(255,255,255,1)
$dark-secondary: rgba(255,255,255,.70)
$dark-disabled: rgba(255,255,255,.30)
$dark-divider: rgba(255,255,255,.12)

/* Media Queries
/* 0, 600px
$small-range-low: 0px
$small-range-high: 600px

// 600px-960px
$medium-range: 960px

/* 960-1200px
$large-range: 1200px

$screen: "only screen" !default

$landscape: "#{$screen} and (orientation: landscape)" !default
$portrait: "#{$screen} and (orientation: portrait)" !default

$small-up: only screen
$small-only: "only screen and (max-width: #{$small-range-high - 1})"

$medium-up: "only screen and (min-width: #{$small-range-high})"
$medium-only: "only screen and (min-width:#{$medium-range}) and (max-width:#{$large-range})" !default

$large-up: "only screen and (min-width:#{$medium-range})"
$large-only: "only screen and (min-width:#{$large-range})" !default

